<form id="uploadForm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="audio">Audio File:</label><br>
        <input type="file" name="audio" id="audio" required>
    </div><br>

    <div>
        <label for="secret_file">Secret File:</label><br>
        <input type="file" name="secret_file" id="secret_file" required>
    </div><br>

    <div>
        <label for="password">Password:</label><br>
        <input type="text" name="password" id="password" placeholder="password">
    </div><br>

    <button type="submit">Encode</button>
</form>

{% if files %}
    <h3>Download Stego Audio Files:</h3>
    {% for f in files %}
        <a href="{{ f }}" download>{{ f }}</a><br>
    {% endfor %}
{% endif %}
